<div class="row">

  <div id="user-intro" class="large-6 medium-6 small-12 columns homepage-div-wrapper">

    <div class="homepage-padding">

      <div class="row">
        <div class="large-12 medium-12 small-12 columns">
          <h1>HOUSE<span class="lato-bold">CALL</span></h1>
          <span class="headline">for consumers</span>
          <div class="vertical-space-20"></div>
        </div>
      </div>

      <div class="row">
        <div class="large-3 medium-3 small-3 columns">
          <a href="#" class="button-homepage dark">iOS</a>
        </div>
        <div class="large-3 medium-3 small-3 columns end">
          <a href="#" class="button-homepage dark">ANDROID</a>
        </div>
      </div>

      <div class="row">
        <div class="large-6 medium-6 small-6 columns end">
          <a href="#" class="button-homepage dark">LEARN MORE</a>
        </div>
      </div>

    </div>

    <%= image_tag("homepage_consumer.png") %>

  </div>

  <div id="pro-intro" class="large-6 medium-6 small-12 columns header-font-light homepage-div-wrapper">

    <div class="homepage-padding">

      <div class="row">
        <div class="large-12 medium-12 small-12 columns">
          <h1 class="header-font-light">HOUSE<span class="lato-bold">CALL</span> PRO</h1>
          <span class="headline">for service professionals</span>
          <div class="vertical-space-20"></div>
        </div>
      </div>

      <div class="row">
        <div class="large-6 medium-6 small-6 columns end">
          <a href="#" class="button-homepage blue">GET STARTED</a>
        </div>
      </div>

    </div>

    <%= image_tag("homepage_pro.png") %>

  </div>

</div>