<div class="row">

  <div id="user-intro" class="large-6 medium-6 small-12 columns div-wrapper">

    <div class="row">
      <div class="large-12 medium-12 small-12 columns">
        <div class="vertical-space-20"></div>
        <h1>HOUSE<span class="lato-bold">CALL</span></h1>
        for consumers
        <div class="vertical-space-20"></div>
      </div>
    </div>

    <div class="row">
      <div class="large-3 medium-3 small-3 columns">
        <a href="#" class="button-homepage">iOS</a>
      </div>
      <div class="large-3 medium-3 small-3 columns end">
        <a href="#" class="button-homepage">Android</a>
      </div>
    </div>

    <div class="row">
      <div class="large-6 medium-6 small-6 columns end">
        <a href="#" class="button-homepage">Learn more</a>
      </div>
    </div>

    <%= image_tag("homepage_consumer.png") %>

  </div>

  <div id="pro-intro" class="large-6 medium-6 small-12 columns light-font-blue div-wrapper">

    <div class="row">
      <div class="large-12 medium-12 small-12 columns">
        <div class="vertical-space-20"></div>
        <h1 class="light-font-header">HOUSE<span class="lato-bold">CALL</span> PRO</h1>
        for service professionals
        <div class="vertical-space-20"></div>
      </div>
    </div>

    <div class="row">
      <div class="large-6 medium-6 small-6 columns end">
        <a href="#" class="button-homepage">Get started</a>
      </div>
    </div>

    <%= image_tag("homepage_pro.png") %>

  </div>

</div>