<div id="hero" class="row">
  <div class="large-12 medium-12 small-12 columns">
    <h1 class="header-font-light">HOUSE<span class="lato-bold">CALL</span> PRO<span class="TM">™</span></h1>
    <span class="headline">mobilize your services business</span>

    <div class="vertical-space-20"></div>
  </div>
</div>

<hr>

<div id="tagline" class="align-center">
  <div class="row">
    <div class="large-12 medium-12 small-12 columns hc-header">
      Easy to use tools to run your services business
    </div>
  </div>

  <div class="row">
    <div class="large-6 medium-8 small-12 large-centered medium-centered small-centered columns hc-subheader">
      HouseCall Pro lets you manage your service business effortlessly through your phone or online so you can focus on your business and less on administrative tasks
    </div>
  </div>
</div>

<hr>

<div id="housecall-pro-software" class="row">
  <div class="large-12 medium-12 small-12 columns">
    Phone & computer
  </div>
</div>

<hr>

<div id="industries-tag-cloud" class="row">
  <div class="large-12 medium-12 small-12 columns">
    Plumber, Electrician, etc
  </div>
</div>

<hr>

<div id="how-it-works-my-business" class="row">
  <div class="large-12 medium-12 small-12 columns">
    How it works my existing business
  </div>
</div>

<hr>

<div id="how-it-works-housecall-marketplace" class="row">
  <div class="large-12 medium-12 small-12 columns">
    How it works with HouseCall marketplace
  </div>
</div>

<hr>

<div id="industries-graphics" class="row">
  <div class="large-12 medium-12 small-12 columns">
    Pretty pictures
  </div>
</div>

<hr>

<div id="features" class="row">
  <div class="large-12 medium-12 small-12 columns">
    Features
  </div>
</div>

<hr>

<div id="pricing" class="row">
  <div class="large-12 medium-12 small-12 columns">
    Features
  </div>
</div>

<hr>

<div id="sign-up" class="row">
  <div class="large-12 medium-12 small-12 columns">
    Sign up
  </div>
</div>