
<div id="hero">
  
  <div class="vertical-space-20"></div>
    <div class="row">
    <div class="large-10 medium-12 small-12 columns end">
      <a href="#" class="right body-font-light lato-bold">LOGIN</a>
    </div>
    </div>

  <div class="row">

    <div class="vertical-space-20"></div>
    <div class="vertical-space-20"></div>
    <div class="large-10 large-offset-2 medium-11 large-offset-1 small-12 columns">
      <h1 class="header-font-light">HOUSE<span class="lato-bold">CALL</span> PRO<span class="TM">™</span></h1>
      <span class="hc-tagline body-font-light">mobilize your business</span>
      <br>HouseCall allows you to run your busines anywhere
    </div>
  </div>

  <div class="vertical-space-20"></div>

  <div class="row">
    <div class="large-2 large-offset-2 columns">
      <a href="/pro" class="button-homepage blue">SIGN UP</a>
    </div>
  </div>


</div>

<div id="tagline" class="align-center">
  <div class="row">
    <div class="large-12 medium-12 small-12 columns hc-tagline">
      Easy to use tools to run your services business
    </div>
  </div>

  <div class="row">
    <div class="large-6 medium-8 small-12 large-centered medium-centered small-centered columns end hc-subheader">
      HouseCall Pro lets you manage your service business effortlessly through your phone or online so you can focus
      on your business and less on administrative tasks
    </div>
  </div>
</div>

<div id="housecall-pro-software">
  <div class="row">
    <div class="large-4 large-offset-2 medium-5 medium-offset-1 small-6 columns align-center">
      <%= image_tag("homepage_consumer_small.png") %>
      <br>
      <span class="hc-callout">Learn more</span>
    </div>
    <div class="large-4 medium-5 small-6 columns end align-center">
      <%= image_tag("homepage_pro_small.png") %>
    </div>
  </div>

</div>


<div id="industries-tag-cloud" class="align-center">

  <div class="row">
    <div class="large-12 medium-12 small-12 columns hc-tagline">
      <span class="body-font-light">Complete solutions for every type of business</span>
    </div>
  </div>

  <div class="row">
    <div class="large-6 medium-8 small-12 large-centered medium-centered small-centered columns end hc-subheader">
      <span class="body-font-blue">Square is one service for your entire business, from a register in your pocket to reports on your laptop. Whether you’re selling out of your trunk or opening your twentieth location, Square helps make business a little less work</span>
    </div>
  </div>

  <div class="row">
    <div class="large-12 medium-12 small-12 columns align-center">
      <span class="tag-cloud red"> Plumber</span>
      <span class="tag-cloud yellow"> Electrician</span>
    </div>
  </div>
</div>

<hr>

<div id="how-it-works-my-business" class="row">
  <div class="large-12 medium-12 small-12 columns">
    How it works my existing business
  </div>
</div>

<hr>

<div id="how-it-works-housecall-marketplace" class="row">
  <div class="large-12 medium-12 small-12 columns">
    How it works with HouseCall marketplace
  </div>
</div>

<hr>

<div id="industries-graphics" class="row">
  <div class="large-12 medium-12 small-12 columns">
    Pretty pictures
  </div>
</div>

<hr>

<div id="features" class="row">
  <div class="large-12 medium-12 small-12 columns align-center hc-header">
    Features
  </div>
</div>

<hr>

<div id="pricing" class="row">
  <div class="large-12 medium-12 small-12 columns">
    Features
  </div>
</div>

<hr>

<div id="sign-up" class="row">
  <div class="large-12 medium-12 small-12 columns">
    Sign up
  </div>
</div>