
$highlight-blue: #ebf7ff;
$highlight-red: #fcf1f0;
$housecall-red: #d95f49;

$pro-blue: #2980b9;
$pro-secondary-blue: #1d689a;
$pro-background: #2e3e4f;

$consumer-green: #2ba700;
$consumer-secondary-green: #247302;
$consumer-background: #e0e0e0;


$header-font-dark: #3b3b3b;
$body-font-dark: #595959;
$body-font-gray: #808080;

$header-font-light: #f7f7f7;
$body-font-light: #f7f7f7;
$body-font-blue: #99aabb;
